{{% BLOCKS }}
{{< panel }}
{{$ title}} Comments {{/ title}}
{{$content}}
<section class="content">
  <div class="container-fluid">
  	<div class="tablas"></div>  
  </div>
</section>
{{/content}}
{{$scripts}}
<script src="/resources/js/modules/comments.js" ></script>
{{/scripts}}
{{/ panel }}
