
{{#overView}}
<!-- jQuery Knob -->
<div class="col-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="far fa-chart-bar"></i>
        {{cuenta}}
      </h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <div class="col-6 text-center">
          <input type="text" class="knob" value="{{porcentage_positivo}}" data-width="90" data-height="90" data-fgColor="#3c8dbc ">

          <div class="knob-label">Positivos</div>
        </div>
        <!-- ./col -->
        <div class="col-6 text-center">
          <input type="text" class="knob" value="{{porcentage_neutral}}" data-width="90" data-height="90" data-fgColor="#f56954" >

          <div class="knob-label">Neutrales</div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-12 text-center">
          <input type="text" class="knob" value="{{porcentage_negativo}}" data-width="90" data-height="90" data-fgColor="#932ab6" >

          <div class="knob-label">Negativos</div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-body -->
  </div>
</div>
{{/overView}}
