<div class="row tablaBanco">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{banco}}</h3>
        <div class="card-tools">
          <!-- <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div> -->
      <!-- /.card-header -->
      <div class="card-body table-responsive p-2 dataTableBank">
        <table class="table table-hover text-nowrap" id="data_table{{banco}}">
          <thead>
            <tr>
              <th>Institucion</th>
              <th>Sentimiento</th>
              <th>Fecha</th>
              <th>Contenido</th>
              <th>Retweet's</th>
              <th>Fav's</th>
            </tr>
          </thead>
          <tbody>
            {{#comments}} 
            <tr>
              <td>{{query}}</td>
              <td><i class="far {{vectorSentimiento}}"></i></td>
              <td> {{fecha.getTimeStamp | date.fecha_hora}} </td>
              <td class="large_text" >{{texto}}</td>
              <td>{{rt}}</td>
              <td>{{fav}}</td>
            </tr>
            {{/comments}}
          </tbody>
        </table>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>